#map-canvas {
    width: 100%;
    height: 500px;
    background-color: #CCC;
  }

.contact-form {

	width: 100%;
	height: auto;
}

.contact-left {

	width: 50%;
	float:left; 
	padding: 20px;
	margin:auto;
}

.contact-right {

	float:right;
	width: 35%;
	padding: 20px;
}

.row {

	margin:10px;
}

.info ul li {

	margin: 5px;
}

.info ul {

	text-decoration: none;
	float:left;
	list-style: none;
}