body, *{
	margin: 0;
	padding: 0;
	font-family: sans-serif, verdana;
	text-decoration: none;
}
a{
	color: white;
}
#nav-logo{
	padding: 8px;
	-webkit-filter: grayscale(1);
	margin-left: 4%;
	opacity: .6;
	-webkit-transition: all ease-in-out .2s;
}
	#nav-logo:hover{
		-webkit-transition: all ease-in-out .2s;
		-webkit-filter: grayscale(0);
		opacity: 1;
	}
nav{
	width: 100%;
	height: 67px;
	z-index: 900000000;
	position: fixed;
	margin-top: 0;
	background-color: white;
	-webkit-box-shadow: 0px 14px 5px -4px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 14px 5px -4px rgba(0,0,0,0.26);
	box-shadow: 0px 14px 5px -4px rgba(0,0,0,0.26);
}
	nav ul{
		list-style-type: none;
		display: block;
		float: right;
		margin-right: 4%;
	}
		nav ul li{
			float: left;
			text-align: center;
			padding: 25px 3px;
			box-sizing: border box;
			-webkit-transition: all ease-in-out .2s;
		}
			nav ul li:hover{
				-webkit-transition: all ease-in-out .2s;
				opacity: 1;
			}
			nav ul li a{
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px;
				color: #aeaeae;
				border-right: solid 1.5px #aeaeae;
				padding: 7px 20px;
				-webkit-transition: all ease-in-out .2s;
			}
				nav ul li a:hover{
					color: #0076bc;
					-webkit-transition: all ease-in-out .2s;
				}
	.logo{
		display: block;
		width: 100%;
		height: 130px;
	}
		.logo img{
			display: block;
			position: absolute;
			margin: 0 calc(100% / 2.7);
			z-index: 100;
			-webkit-filter: blur(.6px);
		}
		.rectangle{
			width: 100%;
			height: auto;
			z-index: -2000000;
			margin: 0;
			padding: 0;
		}

			#rectangle-left{
				z-index: -2;
				min-height: auto;
				min-width: 100%;
				width: 1920px;
				height: 184px;
				position: fixed;
				top: 20px;
				left: 0;
			}
		.images{
			display: block;
			float: left;
			width: 100%;
			height: auto;
			margin-top: 10%;
		}
			.container-left{
				width: 50%;
				height: auto;
				float: left;
				display: flex;
				justify-content: center;
				align-items: center;
			}
				.web{
					-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
					clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
					transition: all ease-in-out .3s;
					margin-left: 10%;
					position: relative;
				}
						a #web{
							transition: all ease-in-out .3s;
						}
							.web:hover{
								-webkit-filter: grayscale(100%);
								transition: all ease-in-out .3s;
								opacity: 1;
								-webkit-transform: scale(1.1);
								-webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
								clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
							}
								.web:hover > #image-text1{
									opacity: 1;
									transition: all ease-in-out .3s;
									color: white;
								}
								#image-text1{
									font-size: 40px;
									text-align: center;
									z-index: 30000000;
									opacity: 0;
									color: white;
									text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
									transition: all ease-in-out .3s;
									position: absolute;
									margin-left: 26%;
									margin-top: -63%;
									text-transform: uppercase;
									border: 2px solid white;
									padding: 70px 55px 60px 55px;
								}
			.container-right{
				width: 50%;
				height: auto;
				float: right;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: -3.5%;
			}	
				.graphic{
					-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
					clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
					transition: all ease-in-out .3s;
					margin-right: 10%;
					position: relative;
				}	
					#graphic{
						transition: all ease-in-out .3s;
					}
						.graphic:hover{
							-webkit-filter: grayscale(100%);
							transition: all ease-in-out .3s;
							-webkit-transform: scale(1.1);
							-webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
							clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
						}
							.graphic:hover > #image-text2{
									opacity: 1;
									transition: all ease-in-out .3s;
									color: white;
								}
							#image-text2{
									font-size: 40px;
									text-align: center;
									z-index: 30000000;
									opacity: 0;
									color: white;
									text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
									transition: all ease-in-out .3s;
									position: absolute;
									margin-left: 17%;
									margin-top: -67%;
									text-transform: uppercase;
									border: 2px solid white;
									padding: 70px 20px 60px 20px;
								}
									#image-text2:hover{
										color: white;
									}
			.icons{
				float: right;
				width: 200px;
				display: block;
				bottom: 0;
				position: fixed;
				margin-bottom: 0%;
				right: 4%;
			}
				.icons ul{
					display: block;
					float: right;
					margin-bottom: 0;
				}
					.icons ul li{
						color: white;
						float: left;
						list-style-type: none;
						padding: 7px;
					}
						.icons ul li a i{
							color: white;
							font-size: 20px;
							padding: 8px 12px;
							background-color: transparent;
							border: 1px solid grey;
							color: black;
							-webkit-transition: all ease-in-out .15s;
							opacity: .5;
						}
							.icons ul li a i:hover{
								background-color: #0076bc;
								-webkit-transition: all ease-in-out .15s;
								opacity: 1;
								color: white;
							}					
										