.middle-content {
	width: 960px;
	height: auto;
	margin: 0px auto;
	margin-top:5%;
}
		.middle-content ul {
			width: 960px;
			height: 370px;
			list-style-type: none;
			padding: 0;
			margin: 0;
			margin-top:20px;


		}
				.middle-content ul li {
					width: 300px;
					height: 290px;
					float: left;
					margin: 0px 30px 0px 0px;
					padding: 0px 0px 0px 0px;
				}
						.middle-content ul li:nth-child(3) {
							margin: 0;
							width: 300px;
						}
							.middle-content h3 {
								margin: 0;
								padding: 0;
								text-align: center;
								width: 300px;
							}
									.middle-content p {
										width: 240px;
										text-align: center;
										font-size: 15px;
										line-height: 20px;
										padding: 0px 30px;
									}

.middle-content img {

	margin:0px;
	padding: 0px;
	position: center;
	margin-left: 25%;
	padding-bottom: 5px;
	/*border-radius: 20px;*/
		/*-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		transition: all ease-in-out .3s;*/
		/*margin-left: 10%;*/
		position: relative;
				}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin-left: 27%;
	margin-top: 10px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*.images {

	height: 150px;
	width: 160px;
	display: block;
	position: relative;
}
#ardi{
	width: inherit;
	height: inherit;
	position: absolute;
}*/

.ivana {
	width: 170px;
	height: 150px;
	background-image: url(../images/ivana.png);
	background-repeat: no-repeat;
	margin-left: 50px;
}

.ardi {
	width: 170px;
	height: 150px;
	background-image: url(../images/ardi.png);
	background-repeat: no-repeat;
	margin-left: 50px;
}
.marko {
	width: 170px;
	height: 150px;
	background-image: url(../images/marko.png);
	background-repeat: no-repeat;
	margin-left: 50px;
}
.ilmi {
	width: 170px;
	height: 150px;
	background-image: url(../images/ilmi.png);
	background-repeat: no-repeat;
	margin-left: 50px;
}
.dragi {
	width: 170px;
	height: 150px;
	background-image: url(../images/dragi.png);
	background-repeat: no-repeat;
	margin-left: 50px;
}