body, *{
	margin: 0;
	padding: 0;
	font-family: sans-serif, verdana;
}
#nav-logo{
	padding: 8px;
	-webkit-filter: grayscale(1);
	margin-left: 4%;
	opacity: .6;
	-webkit-transition: all ease-in-out .2s;
}
	#nav-logo:hover{
		-webkit-transition: all ease-in-out .2s;
		-webkit-filter: grayscale(0);
		opacity: 1;
	}
nav{
	width: 100%;
	height: 67px;
	z-index: 900000000;
	position: fixed;
	margin-top: 0;
	background-color: white;
	-webkit-box-shadow: 0px 14px 5px -4px rgba(0,0,0,0.26);
	-moz-box-shadow: 0px 14px 5px -4px rgba(0,0,0,0.26);
	box-shadow: 0px 14px 5px -4px rgba(0,0,0,0.26);
}
	nav ul{
		list-style-type: none;
		display: block;
		float: right;
		margin-right: 4%;
	}
		nav ul li{
			float: left;
			text-align: center;
			padding: 25px 3px;
			box-sizing: border box;
			-webkit-transition: all ease-in-out .2s;
		}
			nav ul li:hover{
				-webkit-transition: all ease-in-out .2s;
				opacity: 1;
			}
			nav ul li a{
				text-decoration: none;
				text-transform: uppercase;
				font-size: 12px;
				color: #aeaeae;
				border-right: solid 1.5px #aeaeae;
				padding: 7px 20px;
				-webkit-transition: all ease-in-out .2s;
			}
				nav ul li a:hover{
					color: #0076bc;
					-webkit-transition: all ease-in-out .2s;
				}
	.logo{
		display: block;
		width: 100%;
		height: 130px;
	}
		.logo img{
			display: block;
			position: absolute;
			margin: 0 calc(100% / 2.7);
			z-index: 100;
			-webkit-filter: blur(.6px);
		}
		.rectangle{
			width: 100%;
			height: auto;
			z-index: -2000000;
			margin: 0;
			padding: 0;
		}
			#rectangle{
				z-index: -2;
				min-height: 100%;
				min-width: 1024px;
				width: 100%;
				height: auto;
				position: fixed;
				top: 40px;
				left: 0;
			}
			#bg{
				z-index: -3;
				min-height: 100%;
				min-width: 1024px;
				width: 100%;
				height: auto;
				position: fixed;
				top: 50px;
				left: 0;
			}
		.text_graph{
			display: block;
			float: left;
			width: 100%;
			height: auto;
			margin-top: 15%;
		}	
			.text{
				margin-left: 5%;
				display: block;
				float: left;
				width: 45%;
				font-size: 16px;
				color: #0076bc;
				line-height: 30px;

			}
			.infograph{
				display: block;
				float: right;
				/*margin-right: 5%;*/
				width: 50%;
				height: auto;
				transform: scale(.9);
				perspective: 1000px;
				-webkit-transition: all ease-in-out .3s;
			}
				.infograph:hover{
					transform: scale(1);
					-webkit-transition: all ease-in-out .3s;
				}

				#graph{
					width: 50%;
					height: 50%;
					margin-left: 20%;
					margin-top: -11.5%;
					transform: rotateY(-40deg);
					-webkit-transition: all ease-in-out .3s;
				}
					#graph:hover{
						transform: scale(1.3);
						-webkit-transition: all ease-in-out .3s;
					}
		.icons{
				float: right;
				width: 200px;
				display: block;
				bottom: 0;
				position: fixed;
				margin-bottom: 2%;
				left: 4%;
			}
				.icons ul{
					display: block;
					float: left;
					margin-bottom: 0;
				}
					.icons ul li{
						color: white;
						float: left;
						list-style-type: none;
						padding: 7px;
					}
						.icons ul li a i{
							color: white;
							font-size: 20px;
							padding: 8px 12px;
							background-color: transparent;
							border: 1px solid grey;
							color: black;
							-webkit-transition: all ease-in-out .15s;
							opacity: .5;
						}
							.icons ul li a i:hover{
								background-color: #0076bc;
								-webkit-transition: all ease-in-out .15s;
								opacity: 1;
								color: white;
							}			
				
			
				

	